<section>
  <form class="generator-form" (ngSubmit)="OnSubmit()">
    <mat-form-field class="generator-field">
      <input matInput placeholder="accountNumber, defalut and min = {{minAccountsNumber}}"
             name="accountsNumber" type="number" min={{minAccountsNumber}} [formControl]="accountsNumberControl"/>
    </mat-form-field>
    <mat-form-field class="generator-field">
      <input matInput placeholder="threadNumberBetweenTwo, default = {{minThreadNumberBetweenTwo}}"
             name="threadNumberBetweenTwo" type="number" [formControl] = "threadNumberBetweenTwo">
    </mat-form-field>
    <mat-form-field class="generator-field">
      <input matInput placeholder="transfersBetweenTwo, default = {{minTransfersBetweenTwo}}"
             name="transfersBetweenTwo" type="number" [formControl] = "transfersBetweenTwo">
    </mat-form-field>
    <mat-form-field class="generator-field">
      <input matInput placeholder="accountsToDelete, default = {{minAccountsToDelete}}"
             name="accountsToDelete" type="number" [formControl] = "accountsToDelete">
    </mat-form-field>
    <mat-form-field class="generator-field">
      <input matInput placeholder="transfersIncreasing, default = {{minTransfersIncreasing}}"
             name="transfersIncreasing" type="number" [formControl] = "transfersIncreasing">
    </mat-form-field>
    <mat-form-field class="generator-field">
      <input matInput placeholder="transfersDecreasing, default = {{minTransfersDecreasing}}"
             name="transfersDecreasing" type="number" [formControl] = "transfersDecreasing">
    </mat-form-field>

    <button mat-raised-button type="submit">Generate random values</button>
  </form>
</section>
